.contact {
    background-image: url("../../img/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    margin-bottom: 118px;
    overflow: hidden;
}

.contact-heading {
    font-size: 40px;
    font-weight: 600;
}

.contact .ulist {
    list-style-image: url('../../img/list.png');
    font-size: 16px;
}

.mask {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 0;
}