.gradiant {
    background-image: linear-gradient(to bottom, #F095FD, #E5A986);
}

.text-main{
    font-size: clamp(2.2rem, 6vw, 5.813rem);
    font-weight: 600;
    width: 100%;
}

.text-back{
    border-radius: 4.563rem;
    background-color: azure;
    display: inline-block;
    padding: 0 12px;
}

.hero img{
    max-width: 100%;
    height: auto;
    display: block;
}