.showcase{
    background: linear-gradient(180deg,rgba(240, 149, 253, 0.19) 0%, rgba(229, 168, 136, 0.19) 100%);
    margin-bottom: 118px;
}

.heading{
    border-bottom: 1.5px solid black;
    
}

.showcase .heading h1{
    font-size: 40px;
    font-weight: 600;
    
}

.showcase button{
    color: black;
}

.showcase .op{
    height: 72px;
    background-color: #FF0084;
    font-size: 20px;
    border-radius: 6px;
    color: white;
    padding: 20px 16px;
    
}


.showcase .op-1{
    color: black;
    background-color: white;
}



.showcase .datail h4{
    font-size: 23px;
    font-weight: 600;
}

.detail p,ul, .btn{
    font-size: 20px;
}








