.upcoming{
    margin-bottom: 118px;
}
.up-wrap{
     background: linear-gradient(180deg,rgba(240, 149, 253, 0.19) 0%, rgba(229, 168, 136, 0.19) 100%);
}

.bg-pink{
    background-color: #FF0084;
    color: white;
}

